body {
    background-color: lightslategray;
}

#canvas {
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}



input {
    margin: auto;
}